IMD Social ist eine Mastodon Instanz von und für IMD Alumni, Studierende und Vereinsmitglieder des Interactive Media Design Förderverein e.V.
<br>
Der IMD-F ist ein gemeinnütziger Verein. Wer sich für die Ziele, die Mitgliedschaft, die Grundregeln der Leitung und Organisation interessiert, kann sich in der <a href="https://imd-f.de/verein/satzung/" target="_blank">Satzung</a> des Vereins informieren.

<a href="https://codeberg.org/IMD-F/imd.social">Probleme und Diskussionen über diese Mastodon Instanz können in diesem Repository geführt werden.</a>

<h2>Verhaltensregeln</h2>
Da "Geht gut miteinander um" einfach gesagt als getan ist, haben wir eine (nicht vollständige) Liste von Verhaltensweisen aufgestellt, die zu einer Löschung von Toots und zu einer Blockung von Accounts führen können, wenn die Probleme fortbestehen. Insbesondere tolerieren wir nicht:

<ul>
<li>Belästigung, Stalking, Doxxing</li>
<li>Rassismus, Sexismus, Beschimpfungen oder deren Befürwortung</li>
<li>Diskriminierung von Geschlechtern und sexuellen Minderheiten oder deren Befürwortung</li>
<li>Gewalttätige nationalistische Propaganda, Nazi-Symbolismus oder Förderung der Ideologie des Nationalsozialismus</li>
<li>Leute kontaktieren, die klar gemacht haben, dass sie keinen Kontakt wollen. Dogpiling</li>
<li>Nicht markierter sexueller Inhalt, Gewaltdarstellungen oder Werbung</li>
<li>Nicht getaggte oder automatisierte oder übermäßige Werbung</li>
<li>Bots, die ohne ihre expliziten Anfragen mit Nutzer interagieren</li>
</ul>
Bitte melde Verhalten, das Dich stört. Das schließt Verhalten von anderen Instanzen mit ein - wir sind sehr gerne bereit, mit Instanzen, die gegen unsere Grundsätze verstoßen, die Verbindung zu unterbrechen.
<br>
<br>
<br>